@charset "utf-8";
li {
  list-style: none;
}
li > a {
  text-decoration: none;
}
body {
  background-color: #343a40;
}
header {
  width: 100%;
  height: 74px;
  border: 2px solid white;
}
footer {
  width: 100%;
  height: auto;
  border: 2px solid white;
  text-align: center;
  padding: 20px;
}
#footer_Message {
  color: #ffffff;
}
.menuBarWrap > li {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
  background-color: white;
  padding: 10px;
}
nav {
  text-align: center;
  margin: 20px;
}
#movieContent > div {
  width: 300px;
  background-color: white;
  margin: 20px;
}
#searchKeyword {
  width: 250px;
  height: 35px;
  text-align: center;
}
#search_btn {
  height: 38px;
  width: 75px;
}
#movieContent {
  display: inline-flex;
  flex-wrap: wrap;
}

section {
  margin: 80px;
  margin-top: 20px;
}
#categoryArea {
  border: 1px solid white;
  padding: 30px;
}
#categorySearch {
  width: 166px;
  height: 41px;
  margin-top: 20px;
}
#searchArea {
  margin: 30px;
  margin-top: 15px;
}
#search_guide {
  font-size: x-large;
  color: white;
}
